<div class="input-group mb-3 col-sm-6">
  <span class="input-group-text" id="basic-addon1">Nom</span>
  <input type="text" class="form-control" placeholder="Somme" aria-label="User" id="s" [(ngModel)]="name">
</div>
<div class="input-group mb-3 col-sm-6">
  <span class="input-group-text" id="basic-addon1">Créateur</span>
  <input type="text" class="form-control" placeholder="Somme" aria-label="User" id="s" [(ngModel)]="createur" >
</div>
<div class="input-group mb-3 col-sm-6">
  <span class="input-group-text" id="basic-addon1">Style</span>
  <input type="text" class="form-control" placeholder="Somme" aria-label="User" id="s" [(ngModel)]="style" >
</div>
<button (click)="ajouterPlaylist(name, createur, style)">ceci est mon boutton</button>
