<html>
  <body>
    <div class="container">
        <h1>Ajouter une playlist</h1>
    </div>
  <!-- <form> -->
  <div class="form-group row">
        <label for="Nom" class="col-md-2">Nom : </label>
        <div class="col-xs-4 col-sm-4">
        <input type="text" class="form-control" id="nom" placeholder="Entrer un nom de Playlist" [(ngModel)]="name">
        </div>
  </div>
  <div class="form-group row">
      <label for="Nom" class="col-xs-4 col-md-2 col-form-label">Créateur : </label>
      <div class="col-xs-4 col-sm-4">
      <input type="text" class="form-control" id="Crea" placeholder="Entrer un nom de créateur" [(ngModel)]="createur">
    </div>
  </div>
  <div class="form-group row">
    <label for="Nom" class="col-xs-4 col-md-2 col-form-label">Style : </label>
    <div class="col-xs-4 col-sm-4">
    <input type="text" class="form-control" id="Sty" placeholder="Entrer le style de votre Playlist" [(ngModel)]="style">
  </div>
  </div>
  <button class="btn btn-primary" (click)="ajouterPlaylist(name,createur,style)">Envoyer</button>
  <!-- </form> -->
  </body>
</html>

