<br />
<head>
  <link rel="stylesheet" href="Afficher-Playlist.component.css" />
 <script type="text/javascript" src="../Lister-Playlist/sort-table.js"></script>

</head>
<div id="up"></div>
<body >
  <div>
  <h1>{{ Playlist._nom }}</h1>
  <h3>Réalisée par {{ Playlist._createur }}</h3>
  <p>Nombre de vues : {{ Playlist._nbclicks }}</p>
</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <table class="js-sort-table ">
          <thead class="tbl-header">
            <tr>
              <th class="js-sort-number">index</th>
              <th class="js-sort-string">titre</th>
              <th  class="js-sort-string">artiste</th>
            </tr>
          </thead>
          <tbody class="tbl-content">
            <tr
              *ngFor="
                let play of Playlist._listMorceaux | filter: searchText;
                index as i
              "
            >
              <td>{{ i + 1 }}</td>
              <td>{{ play._titre }}</td>
              <td>{{ play._artiste }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- A mettre dans un autre composant ?-->

      <div class="col-sm-4">
        <table class="js-sort-table ">
          <thead class="tbl-header">
            <tr>
              <th class="js-sort-number">index</th>
              <th  class="js-sort-string">contributeur</th>
            </tr>
          </thead>
          <tbody class="tbl-content">
            <tr
              *ngFor="
                let play of Playlist._listContributeurs | filter: searchText;
                index as i
              "
            >
              <td>{{ i + 1 }}</td>
              <td>{{ play }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-2">
        <a
          href="/lister/afficher#down"
          class="glow-on-hover btn"
          (click)="incrementer()"
        >
          ajouter une proposition
        </a>
      </div>

      <!-- fin de ce qui faut déplacer ?-->
      <input
        class="form-control"
        type="text"
        name="search"
        [(ngModel)]="searchText._titre"
        [(ngModel)]="searchText._artiste"
        autocomplete="off"
        hidden
      />
    </div>
  </div>
  <div class="container">
    <div>
      <div id="down">
        <div *ngIf="test == 1">
          <app-Liste-Morceaux
            (emetteur)="recupEvt($event)"
            (emetteur2)="recupEvt2($event)"
            [playlistParent]="Playlist"
            class=""
          ></app-Liste-Morceaux>
        </div>
      </div>
    </div>
  </div>
  <div><br></div>
</body>
<footer>
  <div class="text-center">
    <a href="/lister/afficher#up" class="glow-on-hover btn" (click)="reloadTableau()">up</a>
  </div>
</footer>

<!-- <button (click)="afficher()">ceci est ZE bouton</button> -->
