<head>
  <script type="text/javascript" src="sort-table.js"></script>
  <link rel="stylesheet" href="Lister-Playlist.component.css">
</head>
<br>
<body>
  <h1 hidden>{{searchText}}</h1>
<!-- <app-liste-utilisateur></app-liste-utilisateur> -->
<app-liste-utilisateur (emetclick)="recupEvtClick($event)"></app-liste-utilisateur>
<div class="row" [style.display]="isVisible ? '' : 'none'">
  <div class="table-responsive  col-sm-9">
    <table matSort (matSortChange)="sortData($event)" class=" table-striped">
      <thead class="tbl-header">
        <tr>
          <th mat-sort-header="num" scope="col" >Numero</th>
          <th mat-sort-header="nom" scope="col" >Nom</th>
          <th mat-sort-header="createur" scope="col" >Créateur</th>
          <th mat-sort-header="style" scope="col" >Style</th>
          <th mat-sort-header="clicks">Nombre de clicks</th>
          <th >Supprimer</th>
          <th >Visualisation</th>
        </tr>
      </thead>

      <tbody class="tbl-content">
        <tr *ngFor="let play of listPlaylist | filter:searchText ; index as i ">
          <td>{{ play._id }}</td>
          <td>{{ play._nom }}</td>
          <td>{{ play._createur }}</td>
          <td>{{ play._style}}</td>
          <td>{{ play._nbclicks }}</td>
          <td><button class="glow-on-hover" type="button" (click)="supprimer(play._id)">supprimer</button></td>
          <td><button class="glow-on-hover" type="button" routerLink="afficher" (click)="viewPlaylist(play._id) ">voir</button></td>
        </tr>
      </tbody>
    </table>
    </div>
    <!-- <button (click)="style('test')">oui</button> -->
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText._nom" [(ngModel)]="searchText._style" autocomplete="off"  hidden>

    <app-Liste-Style (emetstyle)="recupEvt($event)" class="col-sm-"></app-Liste-Style>
</div>
</body>



