

<br>

<mat-tab-group [disableRipple]="false" (selectedTabChange)="hideElements()" class="mat-tab-group mat-primary">
    <mat-tab hidden disabled label="Utilisateurs"></mat-tab>
    <mat-tab id="luti" label="{{tab}}" *ngFor="let tab of this.listnomUti; index as i">
      <br><br>
      <div class="table-responsive  col-sm-8">
        <table class="js-sort-table table-striped ">
          <thead class="tbl-header">
            <tr>
              <th scope="col" class="js-sort-number">Numero</th>
              <th scope="col" class="js-sort-string">Nom</th>
              <th scope="col" class="js-sort-string">Créateur</th>
              <th scope="col" class="js-sort-string">Style</th>
              <th class="js-sort-number">Nombre de clicks</th>
              <!-- <th class="js-sort-none">Supprimer</th> -->
              <th class="js-sort-none">Visualisation</th>
            </tr>
          </thead>

          <tbody class="tbl-content">
            <tr *ngFor="let item of this.PlaylistUti">

              <td *ngIf="item._createur == tab">{{ item._id }}</td>
              <td *ngIf="item._createur == tab">{{ item._nom }}</td>
              <td *ngIf="item._createur == tab">{{ item._createur }}</td>
              <td *ngIf="item._createur == tab">{{ item._style}}</td>
              <td *ngIf="item._createur == tab">{{ item._nbclicks }}</td>
              <!-- <td><button class="glow-on-hover" type="button" >supprimer</button></td> -->
              <td *ngIf="item._createur == tab"><button class="glow-on-hover" type="button" routerLink="afficher" (click)="viewPlaylist(i)">voir</button></td>
            </tr>
          </tbody>
        </table>
        </div>
        <!-- <app-Liste-Style (emetstyle)="recupEvt($event)" class="col-sm-2"></app-Liste-Style> -->

    </mat-tab>

</mat-tab-group>

<!-- <button (click)="recup()">test</button> -->



