<head>
  <link rel="stylesheet" href="Liste-Morceaux.component.scss">
  <script type="text/javascript" src="../Lister-Playlist/sort-table.js"></script>

</head>
<body>
  <table class="js-sort-table table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col" class="js-sort-number">#</th>
        <th scope="col" class="js-sort-string">Artiste</th>
        <th scope="col" class="js-sort-string">Titre</th>
        <th scope="col" class="js-sort-string">Contributeur</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let m of this.liste; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ m._artiste }}</td>
        <td>{{ m._titre }}</td>
        <td>{{ m._contributeur}}</td>
        <td>
          <button
            class="btn btn-outline-warning"
            (click)="envoyer(m._titre, m._artiste,m._contributeur)"
          >
            Ajouter
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- </form> -->
  <h1 id="titre">Ajouter une suggestion</h1>
  <div class="row">
    <!-- <div class="col-sm-5 px-5 pt-5">
      <input
        type="text"
        class="form__field"
        id="nom"
        placeholder="Entrer le nom de l'artiste"
        [(ngModel)]="m._artiste"
      />
      <label for="Nom" class="form__label">Nom de l'artiste : </label>
    </div> -->
    <div class="form__group field  col-sm-5 px-5 ">
      <input type="input" class="form__field" id="nom" placeholder="Entrer un nom d'artiste" [(ngModel)]="m._artiste" required />
      <label for="Nom" class="form__label">Artiste : </label>
    </div>
    <div class="form__group field  col-sm-5 px-5 ">
      <input type="input" class="form__field" id="nom" placeholder="Entrer un titre" [(ngModel)]="m._titre" required />
      <label for="Nom" class="form__label">Titre : </label>
    </div>
    <div class="form__group field  col-sm-5 px-5 ">
      <input type="input" class="form__field" id="contributeur" placeholder="Entrer votre nom" [(ngModel)]="contri" required />
      <label for="Contributeur" class="form__label">Contributeur : </label>
    </div>
  </div>
  <div class="col offset-1 px-5 pt-5">
    <button
      class="glow-on-hover"
      (click)="ajouter(m._artiste, m._titre, contri)"
    >
      Ajouter
    </button>
  </div>
</body>
