<!-- <p>
  Liste-Style works!
</p> -->

<!-- <select class="form-control" name="sel" >

  <option *ngFor="let dl of this.names" [value]="dl">{{dl}}</option>

</select> -->

<div>
  <ul class="nav nav-pills nav-stacked anyClass" id="coucou">
    <li *ngFor="let style of this.listPlaylist; index as i" class="nav-item">
      <button class="nav-link px-sm-5 btn btn-outline-primary" (click)="filtrer(style._style)">{{ style._style }}</button>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">   [(ngModel)]="oui[i]"
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>-->
  </ul>
</div>
