<body>
  <div class="col-xl-7">
    <!-- <form> -->
  </div>
  <!-- </form> -->
  <div class="row">
    <div class="form__group field  col-sm-5 px-5 ">
      <input type="input" class="form__field" id="test" placeholder="Entrer un titre" [(ngModel)]="nom" required />
      <label for="Nom" class="form__label">Titre : </label>
    </div>
    <div class="form__group field  col-sm-5 px-5 ">
      <input type="input" class="form__field" id="createur" placeholder="Entrer un nom d'artiste" [(ngModel)]="createur" required />
      <label for="Nom" class="form__label">Artiste : </label>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-sm-5 px-5 pt-5">
      <label for="Nom">Titre : </label>
      <input
        type="text"
        class="form-control"
        id="nom"
        placeholder="Entrer le titre"
        [(ngModel)]="nom"
      />
    </div>
    <div class="col-sm-5 px-5 pt-5">
      <label for="Nom">Artiste : </label>
      <input
        type="text"
        class="form-control"
        id="crea"
        placeholder="Entrer le nom de l'Artiste"
        [(ngModel)]="createur"
      />
    </div>
  </div> -->
  <br />
  <div class="row">
    <button
      class="btn btn-outline-secondary offset-1 col-sm-4"
      (click)="ajouterMorceaux(nom, createur)"
    >
      Ajouter Morceau
    </button>
    <button
      class="btn btn-outline-primary offset-1 col-sm-4"
      routerLink="lister"
    >
      Enregistrer
    </button>
  </div>
  <div>
  <div class="text-center">
    <p>
      {{ message }}
    </p>
  </div>
</div>
  <!-- <div class="col offset-1 col-sm-7 px-5 pt-5"></div> -->
</body>
